/**
 * Extends the rules for vex's os theme.
 */

.vex.vex-theme-os .vex-content {
  border-top-color: #333;
  border-radius: 2px;
  font-family: "Open Sans";
}

.vex.vex-theme-os .vex-content h1 {
  font-size: 30px;
 }
