/* This file includes the CSS styles for the graceful-minimap plugin. */

/* The minimap's topmost parent object.
 * max-width and padding match CodeMirror.
 * height is equal to 100% / scale. */
.minimap {
  position: absolute;
  top: 0;
  right: 10px;
  width: 100%;
  height: 400%;
  max-width: 800px;
  padding: 4px 15px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: normal;
  word-wrap: break-word;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 100% 0;
  transition: opacity 0.3s ease-in;
  overflow: hidden;
}

/* padding is to make inner dimensions the same as CodeMirror.
 * tab-size is to match how tabs are rendered in the overlay. */
.minimap-inner {
  width: 100%;
  margin: 0 auto;
  padding: 4px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.2;
  tab-size: 4;
}

.minimap-inner > span {
  color: #000;
}

/* height is equal to 100% * scale. */
.minimap-overlay {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  left: 0;
  padding: 0 15px;
  border: 4px solid black;
  background: rgb(250, 250, 250);
  overflow-y: hidden;
}

.minimap-overlay > pre {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-wrap: break-word;
}

.minimap-off .minimap {
  opacity: 0;
  transition-timing-function: ease-out;
}

/* Positions the editor to the left when the minimap
 * is enabled, keeping it centered between the edge of
 * the pane and the minimap. */
.minimap-on .CodeMirror {
  -webkit-transform: translate(-100px, 0); /* -(minimap's max-width * scale) / 2 */
}

/* Transition the editor's position when toggling the minimap. */
.CodeMirror {
  transition-property: -webkit-transform;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
