/* =======================================================
 *                        Imports
 * ======================================================= */

@import url("normalize.css");

/* =======================================================
 *                        General
 * ======================================================= */

html, body {
  height: 100%;
  width: 100%;
  background: rgb(250, 250, 250);
  overflow: hidden;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

::-webkit-scrollbar { 
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}
