/* This file includes the CSS styles for the graceful-minimap plugin. */

/* The minimap's topmost parent object.
 * Setting the scale factor on this resizes the whole
 * minimap, but the height will need to be changed to compensate, 
 * as well the height on the minimap-overlay object. */
.minimap {
  position: absolute;
  top: 0;
  right: 10px;
  width: 100%;
  height: 400%;     /* 100% / scale                                  */
  max-width: 800px; /* Matches the CodeMirror max-width.             */
  padding: 4px 0;   /* Makes the inner width the same as CodeMirror. */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: normal;
  word-wrap: break-word;
  -webkit-transform: scale(0.25);
  -webkit-transform-origin: 100% 0;
  transition: opacity 0.3s ease-in;
  overflow: hidden;
}

.minimap-inner {
  width: 100%;
  margin: 0 auto;
  padding: 4px; /* Makes the inner dimensions the same as CodeMirror. */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  opacity: 0.2;
}

.minimap-inner > span {
  color: #000;
}

.minimap-overlay {
  position: absolute;
  width: 100%;
  height: 25%; /* 100% * scale */
  top: 0;
  left: 0;
  padding: 0 4px; /* Makes the inner width the same as CodeMirror. */
  background: rgb(250, 250, 250);
  overflow-y: hidden;
}

.minimap-overlay > pre {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  word-wrap: break-word;
}

.minimap-off .minimap {
  opacity: 0;
  transition-timing-function: ease-out;
}

/* Positions the editor to the left when the minimap
 * is enabled, keeping it centered between the edge of
 * the pane and the minimap. */
.minimap-on .CodeMirror {
  padding-right: 200px !important; /* minimap's max-width * scale       */
  max-width: 1000px !important;    /* minimap's max-width * (1 + scale) */
}

/* Transition the editor's position when toggling the minimap. */
.CodeMirror {
  transition-property: padding-right, max-width;
  transition-timing-function: ease;
  transition-duration: 0.5s;
}
